<div class="container">
  <div class="row row-cols-auto">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Введите данные:
        </div>
        <div class="card-body">
            <label for="user-input" class="form-label">Логин:</label>
            <input id="user-input" type="text" class="form-control" [(ngModel)]="username" placeholder="Введите ваш логин" required>
            <br>
            <label for="pass-input" class="form-label">Пароль:</label>
            <input id="pass-input" type="password" class="form-control" [(ngModel)]="password" placeholder="Введите ваш пароль" required>
        </div>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" (click)="login()" class="btn btn-success">Войти</button>
          <button type="button" (click)="register()" class="btn btn-primary">Зарегистрироваться</button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center">
        <div class="card-header">
          Последняя ошибка: {{lastError}}
        </div>
        <div class="card-body">
          Выполнил:
          Рафаилов Илья Юрьевич P3210<br>
          Вариант: 10451 <br>
        </div>
      </div>
    </div>
  </div>
</div>


